.start-panel {
  display: flex;
  justify-content: center;
}

.play-panel {
  display: none;
  width: 100%;
}
.play-panel .container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 !important;
  padding: 30px 40px;
  background-image: url("../../../images/background.jpg");
  background-position: 47% 0%;
}
.play-panel .container .upper-box {
  display: flex;
  flex: 2;
  margin-bottom: 50px;
}
.play-panel .container .upper-box .timer-box {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 300px;
}
.play-panel .container .upper-box .middle-box {
  flex: 2;
  display: flex;
  flex-direction: column;
}
.play-panel .container .upper-box .middle-box .hints {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 30px 0;
}
.play-panel .container .upper-box .middle-box .hints .hint {
  position: relative;
}
.play-panel .container .upper-box .middle-box .hints .hint .hint-askAudience,
.play-panel .container .upper-box .middle-box .hints .hint .hint-fiftyFifty,
.play-panel .container .upper-box .middle-box .hints .hint .hint-callAfriend {
  cursor: pointer;
  border-radius: 50%;
}
.play-panel .container .upper-box .middle-box .hints .hint .hint-taken {
  position: absolute;
  top: 8px;
  left: 9px;
  border-radius: 50%;
  padding: 8px;
  margin: -8px 0 0 -9px;
  display: none;
  cursor: not-allowed;
}
.play-panel .container .upper-box .middle-box .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.play-panel .container .upper-box .stages-box {
  flex: 1;
}
.play-panel .container .upper-box .stages-box .stages {
  display: flex;
  flex-direction: column;
}
.play-panel .container .upper-box .stages-box .stages .stage {
  display: flex;
  background-image: url("../../../images/stages/stage.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 200px;
  height: 40px;
  font-size: 1.1rem;
  font-weight: bold;
  padding-left: 65px;
  align-items: center;
  color: #ffb300;
}
.play-panel .container .upper-box .stages-box .stages .stage-1,
.play-panel .container .upper-box .stages-box .stages .stage-5,
.play-panel .container .upper-box .stages-box .stages .stage-10,
.play-panel .container .upper-box .stages-box .stages .stage-15 {
  color: white;
}
.play-panel .container .upper-box .stages-box .stages .stage-active {
  background-image: url("../../../images/stages/stage_active.png");
  background-repeat: no-repeat;
  background-position: center;
  color: white;
}
.play-panel .container .upper-box .stages-box .stages .stage-done {
  opacity: 0.3;
}
.play-panel .container .lower-box {
  flex: 1;
}
.play-panel .container .lower-box .questionAndAnswers {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 913px;
}
.play-panel .container .lower-box .questionAndAnswers .question {
  background-image: url("../../../images/test.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 110px;
  color: white;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 155px;
}
.play-panel .container .lower-box .questionAndAnswers .question .question-text {
  overflow-wrap: break-word;
  word-break: break-all;
}
.play-panel .container .lower-box .questionAndAnswers .answers {
  display: flex;
  flex-direction: column;
  position: relative;
}
.play-panel .container .lower-box .questionAndAnswers .answers #questionIndex {
  color: white;
  font-size: 1.5rem;
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.play-panel .container .lower-box .questionAndAnswers .answers .upper-answers,
.play-panel .container .lower-box .questionAndAnswers .answers .lower-answers {
  display: flex;
}
.play-panel .container .lower-box .questionAndAnswers .answers .answer-A,
.play-panel .container .lower-box .questionAndAnswers .answers .answer-C {
  display: flex;
  justify-content: flex-end;
}
.play-panel .container .lower-box .questionAndAnswers .answers .answer {
  flex: 1;
  display: flex;
  align-items: center;
  height: 80px;
}
.play-panel .container .lower-box .questionAndAnswers .answers .answer .answer-btn {
  display: flex;
  justify-content: flex-start;
  padding: 0 50px;
  align-items: center;
  color: white;
  font-size: 1rem;
  margin-top: -5px;
  min-width: 400px;
  min-height: 55px;
  cursor: pointer;
  border: none;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  background-color: transparent;
  background-image: url("../../../images/questionAndAnswers/answer.png");
  background-repeat: no-repeat;
  background-position: center;
}
.play-panel .container .lower-box .questionAndAnswers .answers .answer .answer-btn .answer-option {
  font-weight: bold;
  color: #ffb300;
}
.play-panel .container .lower-box .questionAndAnswers .answers .answer .answer-selected {
  background-image: url("../../../images/questionAndAnswers/answer_selected.png");
  background-repeat: no-repeat;
  background-position: center;
}
.play-panel .container .lower-box .questionAndAnswers .answers .answer .answer-correct {
  background-image: url("../../../images/questionAndAnswers/answer_correct.png");
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 1000px) {
  .play-panel .container .upper-box {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .play-panel .container .upper-box .middle-box {
    width: 100%;
  }
  .play-panel .container .upper-box .middle-box .logo {
    order: 1;
  }
  .play-panel .container .upper-box .middle-box .hints {
    order: 2;
  }
  .play-panel .container .upper-box .timer-box {
    order: 3;
    border: 1px solid yellow;
  }
  .play-panel .container .upper-box .stages-box {
    order: 4;
  }
}
.wrapper .container #modal-end-game {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.wrapper .container #modal-end-game .modal-content {
  position: fixed;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 50%);
}

* {
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 0 auto;
  max-width: 1760px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin: 20px;
  display: flex;
  width: 80%;
}

.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

@media (max-width: 1300px) {
  .container {
    margin: 0;
    width: 100%;
  }
}

/*# sourceMappingURL=styles.css.map */
