@use "../abstracts/index.scss" as *;

.wrapper {
	.container {
		#modal-end-game {
			@include modalProperties;

			.modal-content {
				position: fixed;

				top: 0%;
				left: 51%;
				transform: translate(-49%, 50%);

				.modal-text {
					position: fixed;

					color: white;
					font-size: 1.5em;

					top: 0%;
					left: 0%;
					transform: translate(20%, 20%);
				}

				.play-again-btn {
					position: fixed;

					top: 82%;
					left: 50%;
					transform: translate(-50%, 50%);

					border: none;
					width: 195px;
					height: 43px;

					@include backgroundImage("../../../images/button.png");

					border-radius: 50px;

					cursor: pointer;

					&:hover {
						color: white;
					}

					p {
						position: fixed;

						font-size: 1.1rem;
						font-weight: bold;

						top: 0%;
						left: 52%;
						transform: translate(-50%, 30%);
					}
				}
			}
		}
	}
}
