@use "../abstracts/index.scss" as *;

.play-panel {
	display: none;
	width: 100%;

	.container {
		display: flex;
		flex-direction: column;

		padding-top: 20px;

		background-image: url("../../../images/background.jpg");
		background-position: 47% 0%;

		.upper-box {
			display: flex;
			gap: 50px;
			flex: 2;
			margin-bottom: 30px;

			.timer-box {
				display: flex;
				flex-direction: column;
				gap: 150px;
				align-items: center;
				min-width: 300px;

				.stop-game-btn-box {
					display: flex;
					justify-content: center;
					align-items: flex-start;
					padding-top: 40px;

					width: 100%;

					#stop-game-btn {
						width: 195px;
						height: 42px;

						border: none;
						background: transparent;

						@include backgroundImage("../../../images/buttonC.png");
						@include buttonRadius;

						font-size: 1rem;
						font-weight: bold;
						color: white;

						&:hover {
							cursor: pointer;
						}
					}
				}

				.inner-timer-box {
					display: flex;
					justify-content: center;
					align-items: center;

					border: 3px solid yellow;
					border-radius: 100%;
					color: white;

					width: 65%;
					height: 180px;
				}
			}

			.middle-box {
				flex: 2;
				display: flex;
				flex-direction: column;

				.hints {
					display: flex;
					justify-content: center;
					gap: 20px;
					margin: 30px 0;

					.hint {
						position: relative;

						.hint-askAudience,
						.hint-fiftyFifty,
						.hint-callAfriend {
							cursor: pointer;
							border-radius: 50%;
						}

						.hint-taken {
							position: absolute;
							top: 8px;
							left: 9px;

							border-radius: 50%;
							padding: 8px;
							margin: -8px 0 0 -9px;

							display: none;
							cursor: not-allowed;
						}
					}
				}

				.logo {
					display: flex;
					justify-content: center;
					align-items: center;
					margin-bottom: 50px;
				}
			}

			.stages-box {
				flex: 1;

				.stages {
					display: flex;
					flex-direction: column;
					gap: 1px;

					.stage {
						display: flex;

						@include backgroundImage("../../../images/stages/stage.png");

						width: 200px;
						height: 40px;

						font-size: 1.1rem;
						font-weight: bold;

						padding-left: 65px;
						align-items: center;

						color: #ffb300;
					}

					.stage-1,
					.stage-5,
					.stage-10,
					.stage-15 {
						color: white;
					}

					.stage-active {
						@include backgroundImage("../../../images/stages/stage_active.png");

						color: white;
					}

					.stage-done {
						opacity: 0.3;
					}
				}
			}
		}

		.lower-box {
			flex: 1;

			.questionAndAnswers {
				display: flex;
				flex-direction: column;
				gap: 20px;

				min-width: 913px;

				.question {
					@include backgroundImage("../../../images/questionAndAnswers/question.png");

					height: 110px;

					display: flex;
					justify-content: center;
					align-items: center;

					.question-text {
						width: 65%;
						text-align: center;

						color: white;
						font-size: 1.2rem;

						overflow-wrap: break-word;
						word-break: break-all;
					}
				}

				.answers {
					display: flex;
					flex-direction: column;
					position: relative;

					#questionIndex {
						color: white;
						font-size: 1.5rem;

						position: absolute;
						top: 48%;
						left: 50%;
						transform: translate(-50%, -50%);
					}

					.upper-answers,
					.lower-answers {
						display: flex;
					}

					.answer-box-A,
					.answer-box-C {
						display: flex;
						justify-content: flex-end;
					}

					.answer-box {
						flex: 1;
						display: flex;
						align-items: center;

						height: 80px;

						.answer-btn {
							display: flex;
							justify-content: flex-start;
							padding: 0 50px;
							align-items: center;

							color: white;
							font-size: 1rem;
							margin-top: -5px;

							min-width: 400px;
							min-height: 55px;

							cursor: pointer;
							border: none;

							@include buttonRadius;

							background-color: transparent;

							@include backgroundImage("../../../images/questionAndAnswers/answer.png");

							.answer-option {
								font-weight: bold;
								color: #ffb300;
							}
						}

						.answer-selected {
							@include backgroundImage(
								"../../../images/questionAndAnswers/answer_selected.png"
							);
						}

						.answer-correct {
							@include backgroundImage("../../../images/questionAndAnswers/answer_correct.png");
						}
					}
				}
			}
		}
	}
}
